* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container > div {
    width: 450px;
    height: 80px;
}

.container > div:nth-child(1) {
    background: #000000;
}

.container > div:nth-child(2) {
    background: #F00001;
}

.container > div:nth-child(3) {
    background: #FEC700;
}