* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
    --ratio: 350px;
}

.flag {
    position: relative;
    height: var(--ratio);
    width: calc(var(--ratio) * 8 / 5);
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.flag > div:nth-child(1) {
    grid-column: span 5;
    grid-row: span 4;
}

.flag > div:nth-child(2) {
    grid-column: span 2;
    grid-row: span 4;
}

.flag > div:nth-child(3) {
    grid-column: span 9;
    grid-row: span 4;
}

.flag > div:nth-child(4) {
    grid-column: span 16;
    grid-row: span 2;
}

.flag > div:nth-child(5) {
    grid-column: span 5;
    grid-row: span 4;
}

.flag > div:nth-child(6) {
    grid-column: span 2;
    grid-row:  span 4;
}

.flag > div:nth-child(7) {
    grid-column: span 9;
    grid-row: span 4;
}

.blue {
    background: #0161A2;
}

.yellow {
    background: #FEC402;
}